.jumbotron {
  background-color: #fffa19;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 12px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
