@yellow: #fffa19;
@black: #000000;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @yellow;
	color: @black;
	.margenes(40px, 0px);
}

footer {
	padding: 10px 12px 0 10px;
	background-color: @yellow;	
	.margenes(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	.margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}